$f12:12px;
$f14:14px;
$f16:16px;
$dc:#DC0F50;
$c3:#333;
$c9:#999;
$c6:#666;
#ct_main{
    .container{color:$c3;
        .rect{padding-left:243px;margin-bottom:45px;
            .fl{
                ul{li{float:left;img{display:block;}}}
                #cont1{width:714px;height:382px;overflow:hidden;margin-bottom:4px;position:relative;}}
            .fr{padding:10px 0 0 10px;
                .per{border:1px solid #e5e5e5;width:230px;text-align:center;padding-top:20px;border-bottom:none;
                    >li{border-bottom:1px solid #e5e5e5;}
                    i{display:inline-block;width:40px;height:40px;background:url("../images/dome_07.png") no-repeat;}
                    p{line-height:24px;font-size:12px;}
                    .login{display:block;width:200px;height:40px;line-height:40px;font-size:$f16;background:$dc;color:#fff;margin:14px auto 10px;&:hover{opacity:0.8;}}
                    .sign{color:$c3;float:right;margin-right:15px;}
                    .per_link{
                        p{padding: 18px 0 18px 40px;height: 30px;line-height: 30px;font-size: 24px;color:$c6;;font-weight:bold;background: url(../images/mobile1.png) no-repeat 10px center;}
                        .clearfix{padding:0 10px 20px;
                            li{float:left;width:52px;font-size:$f12;text-align:center;}
                            i{display:block;display: block;width: 26px;height: 20px;background: url(../images/icon_2.png) no-repeat;margin: 2px auto;margin-bottom: 5px;}
                            @for $i from 0 to 4{li:nth-child(#{$i+1}) i{background-position:0 $i*-20px;}li:nth-child(#{$i+1}):hover i{background-position:-28px $i*-20px;}}}}}}}}
        .flashs{background:url("../images/hd_bg.jpg") repeat-x left 28px;margin-bottom:50px;
            h2{width:400px;overflow:hidden;background:#fff;font-size:24px;margin-bottom:30px;span{padding-left:10px;font-size:$f16;.t{background:#000;color:#fff;font-size:$f16;padding:0 5px;}}}
            .hd{overflow:hidden;position:relative;
            #cont2{width:10000%;height:270px;padding:0 25px;
                li{width:200px;margin:0 22px 0 11px;float:left;position:relative;
                    img{width:200px;}
                    i{display:block;position:absolute;background:$dc;color:#fff;right:0;top:200px;transform:translateY(-100%);font-size:$f16;width:60px;text-align:center;opacity:0.8;}
                    span{display:block;width:130px;font-size:$f12;line-height:20px;padding-top:6px;}
                    b{padding-top:8px;font-size:14px;color:$dc;}del{color:$c9;font-size:$f12;margin-left:8px;font-weight:normal;}strong{position:absolute;width:60px;height:60px;font-size:20px;line-height:30px;background:$dc;right:0;bottom:0;color:#fff;text-align:center;}}}
            >a{display:block;width:30px;height:80px;background:url("../images/prev_bg.png") no-repeat;position:absolute;top:50%;transform:translateY(-50%);opacity:0.5;}
            .prev{left:0;}
            .next{right:0;background:url("../images/next_bg.png") no-repeat;}}}                  
        .floor{margin-bottom:35px;
            >div{position:relative;margin-bottom:40px;}
            h2{font-size:20px;line-height:60px;}
            .f_left{margin-right:10px;
                ul{width:300px;padding-top:30px;li{float:left;margin-left:13px;margin-bottom:15px;img{width:82px;}}}}
            .f_center{
                .hd{width:580px;margin-bottom:4px;position:relative;
                    .cont3{height:270px;margin-bottom:30px;}
                    ul{li{img{width:580px;}}}
                    a{display:block;width:30px;height:62px;position:absolute;top:50%;transform:translateY(-50%);z-index:100;opacity:0.5;}
                    .prev{left:0;background:url("../images/prev_bg.png") no-repeat;}
                    .next{right:0;background:url("../images/next_bg.png") no-repeat;}
                    .des{li{float:left;margin-right:5px;img{width:190px;}}}}}
            .f_right{position:absolute;right:0;top:0;width:300px;background:url("../images/hd_bg.jpg") repeat-x left 45px;
                h2{background:#fff;overflow:hidden;width:110px;}
                ul{padding-top:8px;
                    li{padding:9px 0;border-bottom:1px solid #e5e5e5;position:relative;padding-left:97px;
                        i{display:block;width:25px;height:25px;background:url("../images/biao_bg.png") no-repeat;position:absolute;left:0;top:10px;z-index:100;line-height: 18px;padding-left: 5px;font-size:$f12;color: #fff;}
                        img{width:82px;position:absolute;left:0;top:0;}
                        span{display:block;font-size:14px;line-height:16px;height:32px;margin-bottom:22px;}
                        em{font-size:20px;color:$dc;}}}
            }
            
        }
}