#ct_header { border-bottom: 2px solid #DC0F50; }

#ct_header .wrap-top { background: #E5E5E5; }

#ct_header .wrap-top p { line-height: 30px; text-align: right; }

#ct_header .wrap-top p span { font-size: 12px; color: #666; }

#ct_header .wrap-top p a { color: #666; margin: 0 3px; font-size: 12px; }

#ct_header .wrap-top p a:hover { text-decoration: underline; color: red; }

#ct_header .top { padding-top: 32px; }

#ct_header .top h1 { text-indent: -1000px; background: url("../images/logo1.png") no-repeat; width: 240px; height: 44px; float: left; margin-right: 116px; }

#ct_header .top .form { float: left; font-size: 14px; }

#ct_header .top .form input { height: 40px; font-size: 16px; }

#ct_header .top .form #mes { border: 2px solid #DC0F50; width: 400px; height: 40px; vertical-align: top; padding-left: 10px; }

#ct_header .top .form #search { width: 95px; height: 44px; background-color: #DC0F50; color: #fff; vertical-align: top; }

#ct_header .top .form p { padding-top: 8px; }

#ct_header .top .form p a { color: #999; padding: 0 6px; }

#ct_header .top .form p .active { color: #DC0F50; }

#ct_header .top .gou { display: block; float: right; margin-right: 72px; border: 1px solid #ccc; line-height: 40px; padding-left: 42px; width: 80px; font-size: 14px; background: url("../images/car_icon.png") no-repeat 10px center; position: relative; }

#ct_header .top .gou .qty { display: block; background: #DC0F50; border-radius: 8px; width: 18px; height: 18px; position: absolute; right: -9px; top: -9px; font-size: 12px; color: #fff; text-align: center; line-height: 18px; }

#ct_header .ct_nav { padding-top: 30px; }

#ct_header .ct_nav .tab1 { position: relative; }

#ct_header .ct_nav .tab1 > li { float: left; padding: 0 16px 0 24px; }

#ct_header .ct_nav .tab1 > li .tab2 { width: 230px; height: 560px; border: 1px solid #ccc; border-top: none; position: absolute; top: 42px; left: 24px; }

#ct_header .ct_nav .tab1 > li .tab2 li a { padding-left: 20px; font-size: 12px; display: block; line-height: 40px; height: 40px; }

#ct_header .ct_nav .tab1 > li .tab2 li a:hover { color: #fff; background: #DC0F50; }

#ct_header .ct_nav .tab1 > li h2 { background: #333333; height: 40px; width: 232px; line-height: 40px; color: #fff; margin-right: 38px; text-indent: 20px; font-weight: bold; font-size: 14px; }

#ct_header .ct_nav .tab1 > li a { display: block; line-height: 40px; height: 40px; color: #333333; }

#ct_header .ct_nav .tab1 > li a:hover { color: #DC0F50; }
